#container{
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;    
    width: 400px;
    height: 400px;
    margin-top: 50px;
}

.box{
    display: flex;
    background-color: blue;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    padding-left: 0px;
    flex-grow:1;
    flex-shrink: 1;
    border-color: black;
    border-width: 5px;
    
}

.box:hover{

    background-color: purple;


}


.rowBox{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 1;
    border: black;
    border-width: 5px;
}

#test{
    background-color: cornflowerblue;

}

.classy{
    background-color: azure;
}
.classy:hover{
    background-color: brown;
}

.hovered{
    background-color: red;
    color: yellow;
}

.clear{
   /* width: 50px;
    height: 20px;*/
    display: inline-flex;
}

.resBox{
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: baseline;
}

#resolution{
    max-width: 40px;
    display: inline-flex;
    max-height: 1em;
}

p {
    display: flex;
}