#container{
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;    
    width: 400px;
    height: 400px;
}



.box{
    /*width: 100px;
    height: 100px;*/
    display: flex;
    background-color: blue;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    padding-left: 0px;
    flex-grow:1;
    flex-shrink: 1;
    
}

.rowBox{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 1;
}

.test{
    background-color: cornflowerblue;

}